.app-android .app-topbar .app-button {
	padding: 0;
	font-family: "Roboto";
}

.app-android .app-topbar .app-button.semiright{
	right: 20%;
}

.app-android .app-topbar .app-button.back{
	color: white;
}

.app-android .app-list li{
	padding-top: 10px;
}
