.app-android .app-topbar .app-button {
	padding: 0;
}

.app-android .app-topbar .app-button.semiright{
	right: 20%;
}

.app-android .app-topbar .app-button.back{
	color: white;
}

.app-android .app-topbar .app-button.back.active{
	background-color: black;
}


.app-android .app-content .app-button.nav.active{
	color:white;
}