@font-face{
	font-family: opensans;
	src: url('../font/OpenSans-Regular.ttf');
}


.title-bar-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;

	display: table;
	
	background-color: #333333;
	color: #f2f2f2;
	font-weight: bold;
    word-wrap:break-word;	
    line-height: 120%;
}

.title-bar-text{
	display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}


.listwrapper {
	height: 100%;
}

.main-image{
	width:100%;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.main-image.video{
	width: 50px;
	padding: 50px;
}


.app-topbar .app-title{
	font-family: 'opensans', 'Helvetica';
	font-size: 20px;
	font-weight: bold;
}


.app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	background: #222;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;

	-webkit-box-shadow: 0 1px 1px black;
}

.app-title.left{
	text-align: left;
	padding-left: 13px;


}

.app-topbar .app-button{
	width: 20%;
	text-align: center;
	border-right: 1px solid #333;
	box-shadow: -1px 0 #000 inset;
}

.app-topbar .app-button:active{
	background: black;
}

.app-topbar .app-button.back{
	font-family: 'opensans', 'helvetica';
	font-size: 20px;
}


.app-topbar .app-button.semiright{
	top: 0;
	right: 25%;
	text-align: center;
	border-right: none;
	border-left: 1px solid #000;
	box-shadow: 1px 0 #333 inset;
}

.app-topbar .app-button.right{
	border-right: none;
	border-left: 1px solid #000;
	box-shadow: 0 0 #000 inset, 1px 0 #333 inset;
}

#kik {
	background-image: url( ../img/kik.png );
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 30px;
}

#refresh{
	background-image: url( ../img/refresh_icon.png );
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 19px;
}

.preview-title-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;
	display: table;
	font-weight: bold;
	background-color: black;
    word-wrap:break-word;	
    line-height: 120%;
}

.preview-title{
	display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}


.loader{
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 44px;
	padding-top: 50%;
	text-align: center;	
	vertical-align: middle;
}


#button-group{
	table-layout: fixed;
	position:absolute;
	bottom: 0;
	width: 100%;
	border-spacing: 7px;
	height: 50%;
}



.app-button.nav{
	background: #333;
	color: white;
	height: 100%;

	border-bottom: none;
	background-position: center 9px;
	background-repeat: no-repeat;
	text-align: left;
	padding-top: 53%;
	padding-left: 10px;
	background-size: 50%;

	font-family: 'opensans', 'helvetica';

}

.app-button.nav.active{
	background-position: center 9px;
	background-repeat: no-repeat;
	text-align: left;
}

#selector{
	background: #222;
}


.short-descript{
	text-align: left;
	padding-left: 10px;
	color: white;
	font-family: 'opensans', 'helvetica';
}


#fb{
	background-image: url(../img/fb.png);
	background-color: #00AAFF;
}
#fb.active{
	background-color: #006CF9;
}

#mb{
	background-image: url(../img/mb.png);
	background-color: #9ACD32;
}
#mb.active{
	background-color: #56932E;
}

#cb{
	background-image: url(../img/cb.png);
	background-color: orange;
}
#cb.active{
	background-color: #EE6F0F;
}

#im{
	background-image: url(../img/im.png);
 	background-color: #FF0099;
}
#im.active{
	background-color: #E00F69;
}


.main-title {
	padding-left: 10px;
	padding-top: 5%;
	text-align: left;
	font-family: 'opensans', 'helvetica';
	color: white;
}

.main-title p{
	height: 110px;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.main-title sub{
	color:white;
	padding-left: 7px;
	font-size: 18px;
	font-weight: 300;
}



.preview-video{
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	margin-top:100px;
}
