.titleBarContainer{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;

	display: table;
	
	background-color: #4B4B4B;
	color: #f2f2f2;

	font-family: "Roboto";
	font-weight: bold;
    word-wrap:break-word;	

    line-height: 120%;
}

.titleBar{
	display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}

.app-ios .listwrapper {
	min-height: 100%;
	padding-bottom: 1px;
}
.listwrapper {
	height: 100%;
}

.pageImg{
	width:100%;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.app-ios .pageImg{
	/*fdafdsa*/
	 -webkit-transform: translate3d(0,0,0);
}

.app-ios .app-title{
	background: #222222;
	text-align: left;
	padding-left: 10px;
}

.app-topbar .app-button {
	top: 0;
	padding: 0 8px;
	height: 100%;
	line-height: 44px;
	width: 15%;
}

.app-ios .app-topbar .app-button{
	background: #222222;
	width: 20%;
	text-align: center;
	border-right: 1px solid #333;
	box-shadow: -1px 0 #000 inset;
}

.app-topbar .app-button:active{
	background: #1C1C1C;
}




.app-topbar .app-button.semiright{
	top: 0;
	right: 25%;
}

.app-android .app-topbar .app-button.semiright{
	top: 0;
	text-align: center;
	right: 24%;
}

.app-ios .app-topbar .app-button.semiright{
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	box-shadow: -1px 0 #000 inset, 1px 0 #333 inset;
}

.app-topbar .app-button.semiright.active{
	background: #1C1C1C;
}





.preview-title{
	background-color: black;
	z-index: 3000;
	text-align: center;
	word-wrap:break-word;
	font-size: 17px;	
	padding: 10px;
}

.app-android .preview-title{
	padding-top: 60px;
	background-color: black;
}

.app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	background: #222222;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;
}



.app-android .app-topbar .app-button {
	line-height: 48px;
	border-left: thin double #303030;

}

.app-topbar .app-button.right {
	background-image: url(../img/kik.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	border-right: none;
	box-shadow: none
}





.loader{
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 44px;
}

.app-ios .loader{
	padding-top: 50%;
	text-align: center;
	width: 100%;
}



.app-list li{
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	overflow: auto;
	white-space: normal;
	height: 100%;
	line-height: 20px;

}

.app-list li p{
	font-size: 15px;
	padding: 15px;
	font-weight: normal;
}
.app-android .app-page.preview .app-topbar{
	background: red;
}
