.app-topbar .app-title{
	font-family: 'Oswald';
}

.title-bar-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;

	display: table;
	
	background-color: #333333;
	color: #f2f2f2;

	font-family: "Roboto";
	font-weight: bold;
    word-wrap:break-word;	

    line-height: 120%;
}


.title-bar-text{
	display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}

.app-ios .listwrapper {
	min-height: 100%;
	padding-bottom: 1px;
}
.listwrapper {
	height: 100%;
}

.main-image{
	width:100%;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.app-ios .main-image{
	/* iOS not completely rendering image */
	 -webkit-transform: translate3d(0,0,0);
}

.app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	background: #222;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;

	-webkit-box-shadow: 0 0 1px 1px black;
}

.app-ios .app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	background: #222;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;
	box-shadow: none;

	-webkit-box-shadow: 0 0 1px 1px black;
}

.app-title.left{
	text-align: left;
	padding-left: 10px;
	background: #222;
}


.app-topbar .app-button{
	background: #222;
	width: 20%;
	text-align: center;
	border-right: 1px solid #333;
	box-shadow: -1px 0 #000 inset;
}

.app-topbar .app-button:active{
	background: #1C1C1C;
}


.app-topbar .app-button.semiright{
	top: 0;
	right: 25%;
	text-align: center;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	box-shadow: -1px 0 #000 inset, 1px 0 #333 inset;
}
}

.app-topbar .app-button.semiright.active{
	background: #1C1C1C;
}


.app-topbar .app-button.right.kik {
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	border-right: none;
	box-shadow: none
}


.app-android .app-topbar .app-button {
	padding: 0;
}

.app-android .app-topbar .app-button.semiright{
	right: 20%;
}

.app-android .app-topbar .app-button.semiright.home{
	background-image: url(../img/home.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto 35px;
}

.app-android .app-topbar .app-button.back{
	color: white;
}



.preview-title-container{
	position: relative;
	text-align: center;
	height: 44px;
	width: 100%;
	display: table;

	font-family: "Roboto";
	font-weight: bold;
	
	background-color: black;
    word-wrap:break-word;	
    line-height: 120%;
}

.preview-title{
	display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    padding-left: 5px;
}


.loader{
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 44px;
	padding-top: 50%;
	text-align: center;	
	vertical-align: middle;
}


.app-list li{
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	overflow: auto;
	white-space: normal;
	height: 100%;
	line-height: 20px;
}

.app-android .app-list li{
	padding-top: 10px;
}

.app-list li p{
	font-size: 15px;
	padding: 15px;
	font-weight: normal;
}


